.col-merge {
    vertical-align : middle;
    text-align: center;
    width: auto;
}

.row-merge {
    text-align: center;
    width: 25%;
}

.normal {
    text-align: center;
    width: 25%;
}

.table-data{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
    text-align: center;
}

.table-style {
    margin: 10px;
}