.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: outset;
    z-index: 101;
    flex-direction: column;
    height: 350px;
    width: 500px;
    justify-content: space-evenly;
}

.content-container{
    background-color: #ffffff;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button-container{
    background-color: #ffffff;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.text-style{
    font-family: 'Times New Roman';
    width: 200px;
    flex-direction: column;
    justify-content: left;
}

.symbol-style{
    width: 50px;
    align-items: center;
    font-family: 'Times New Roman';
}

.input-style{
    width: 250px;
    flex-direction: column;
    justify-content: left;
}

.button-add {
    text-align: center;
    margin-right: 15px;
    height: 20px;
    width: 60px;
    border: solid #000000;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button-cancel {
    text-align: center;
    margin-right: 15px;
    height: 20px;
    width: 60px;
    background-color:rgba(237, 39, 39, 0.993);
    border: solid #000000;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button-effect:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}